---
---

<div class="relative w-1/2 h-16 mt-10 mb-5 flex items-center justify-center">
  <div class="absolute w-full h-[1px] bg-gradient-to-r from-transparent via-white/10 to-transparent"></div>
  <div class="relative h-6 w-6 flex items-center justify-center">
    <div class="absolute inset-0 flex items-center justify-center">
      <div class="h-6 w-6 rounded-full border border-white/8"></div>
    </div>
    <div class="absolute inset-0 flex items-center justify-center">
      <div class="h-4 w-4 rounded-full border border-white/8"></div>
    </div>
    <div class="absolute inset-0 flex items-center justify-center">
      <div class="h-1 w-1 bg-white/15 rounded-full animate-pulse"></div>
    </div>
    
    <div class="absolute inset-0 bg-white/5 rounded-full blur-md"></div>
  </div>
</div>