---                               
import './src/styles/global.css'  
--- 

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Wormhole</title>
	</head>
	<body>
		<div class="fixed inset-0 overflow-hidden -z-10 pointer-events-none">
			<div class="jumbo absolute -inset-[10px] opacity-60 dark:opacity-40"></div>
		  </div>
		<slot />
	</body>
</html>